
<div class="jumbotron text-center">
    <h1>Bucket Application Form</h1>
    <h4>Author: Corey Rodems</h4>
    <p>This is a simple node.js web app using express, handlebars, mongo, bootstrap, and summernote "WYSIWYG" text editor</p>
</div>
<div role="div" class="container">
    <div class="col-md-12">
<div class="col-md-12">
    <div class='row'>
        <span><strong>Applicant: </strong> {{this.data.FirstName}} {{this.data.LastName}}</span>
    </div>
    <div class='row'>
        <span><strong>Phone Number: </strong>{{this.data.PhoneNumber}}</span>
    </div>
    <div class='row'>
        <span>
            <strong>Email: </strong>
                <a href="mailto:{{this.data.EmailAddress}}">
                    {{this.data.EmailAddress}}
                </a>
        </span>
    </div>
    <div class='row'>
        <span>
            <strong>Portfolio Url: </strong>
                <a href="mailto:{{this.data.PortfolioUrl}}">
                    {{this.data.PortfolioUrl}}
                </a>
        </span>
    </div>
    <div class='row'>
        <span>
            <strong>Resume Url: </strong>
                <a href="mailto:{{this.data.ResumeUrl}}">
                    {{this.data.ResumeUrl}}
                </a>
        </span>
    </div>
    <div class='row'>
        <span><strong>Position: </strong>{{this.data.Position}}</span>
    </div>
    <hr>
    <div class='row'>
        <span><strong>Cover Letter: </strong>{{{this.data.CoverPageText}}}</span>
    </div>
    <hr>
    <div class='row'>
        <span><strong>Education: </strong>{{{this.data.Education}}}</span>
    </div>
    <hr>
    <div class='row'>
        <span><strong>Experience: </strong>{{{this.data.Experience}}}</span>
    </div>
    <hr>
    <div class='row'>
        <span><strong>Additional Text: </strong>{{{this.data.AdditionalText}}}</span>
    </div>
</div>
<hr>
{{#unless submitted}}
<form method="POST" action='/api/submit-app'>
    <div class="form-group">
            <label for="buttonAppId">Bucket Application ID</label>
            <input type="text" class="form-control" id="buttonAppId" name="buttonAppId" aria-describedby="appHelp" placeholder="Enter Application ID" required>
            <input type="text" class="form-control" id="modelId" name="modelId" value="{{this.data._id}}" hidden>
            <small id="appHelp" class="form-text text-muted">Button application ID given in your email</small>
            <input type="text" class="form-control" id="Position" name="Postition" value="{{this.data.Position}}" hidden>
            <input type="text" class="form-control" id="PortfolioUrl" name="PortfolioUrl" value="{{this.data.PortfolioUrl}}" hidden>
            <input type="text" class="form-control" id="ResumeUrl" name="ResumeUrl" value="{{this.data.ResumeUrl}}" hidden>
            <input type="text" class="form-control" id="CoverPageText" name="CoverPageText" value="{{this.data.CoverPageText}}" hidden>
            <input type="text" class="form-control" id="Education" name="Education" value="{{this.data.Education}}" hidden>
            <input type="text" class="form-control" id="Experience" name="Experience" value="{{this.data.Experience}}" hidden>
            <input type="text" class="form-control" id="AdditionalText" name="AdditionalText" value="{{this.data.AdditionalText}}" hidden>
    </div>
    <button id='submitForm'class="btn btn-primary">Submit</button>
    <a href='/edit/{{this.data._id}}' id='editThis'class="btn btn-success">Edit this</button></a>
</form>
{{/unless}}
{{#if submitted}}
<form method="POST" action='/api/final-submit-app'>
    <div class="form-group">
            <label for="buttonAppId">Bucket Application ID</label>
            <input type="text" class="form-control" id="buttonAppId" name="buttonAppId" aria-describedby="appHelp" placeholder="Enter Application ID" required>
            <input type="text" class="form-control" id="modelId" name="modelId" value="{{this.data._id}}" hidden>
            <small id="appHelp" class="form-text text-muted">Button application ID given in your email</small>
            <input type="text" class="form-control" id="Position" name="Postition" value="{{this.data.Position}}" hidden>
            <input type="text" class="form-control" id="PortfolioUrl" name="PortfolioUrl" value="{{this.data.PortfolioUrl}}" hidden>
            <input type="text" class="form-control" id="ResumeUrl" name="ResumeUrl" value="{{this.data.ResumeUrl}}" hidden>
            <input type="text" class="form-control" id="CoverPageText" name="CoverPageText" value="{{this.data.CoverPageText}}" hidden>
            <input type="text" class="form-control" id="Education" name="Education" value="{{this.data.Education}}" hidden>
            <input type="text" class="form-control" id="Experience" name="Experience" value="{{this.data.Experience}}" hidden>
            <input type="text" class="form-control" id="AdditionalText" name="AdditionalText" value="{{this.data.AdditionalText}}" hidden>
    </div>
    <button id='finalSubmit'class="btn btn-primary">Submit Final Version</button>
    <a href='/' id='restart'class="btn btn-danger">Clear &amp; Start Over</button></a>
</form>
{{/if}}

</div>
</div>